.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .custom-field {
    .entries-selector {
      display: flex;
      align-items: baseline;
    }
  }
}
